.blank {
    font-size: 8pt;
}

.blank table {
    font-size: 8pt !important;
}

.div-in-line {
    overflow: auto;
    display: inline-block;
    float: left;
}

.percent100 {
    width: 98%;
}

.percent85 {
    width: 84%;
}

.percent80 {
    width: 79%;
}

.percent75 {
    width: 74%;
}

.percent70 {
    width: 69%;
}

.percent60 {
    width: 59%;
}

.percent50 {
    width: 49%;
}

.percent40 {
    width: 39%;
}

.percent33 {
    width: 33%;
}

.percent30 {
    width: 29%;
}

.percent25 {
    width: 24%;
}

.percent20 {
    width: 19%;
}

.percent15 {
    width: 14%;
}

.percent10 {
    width: 10%;
}

.percent7 {
    width: 7%;
}

.percent5 {
    width: 5%;
}

.percent1 {
    width: 1%;
}

.h2t {
    height: 100%;
}

.h2w {
    height: 50%;
}

.h25p {
    height: 25%;
}

.div-right {
    float: right;
}

h6 {
    font-size: 83%;
    font-weight: bold;
}

.h4-blank {
    font-size: 150%;
}

.h3-blank {
    font-size: 180%;
}

div .next-page {
    page-break-before: always;
}

.common-table 
{
    border-collapse: collapse;
}

.common-table td, .common-table th
{
    border: 0.5px solid #000;
}

.framed {
    border: 0.5px solid #000;
}

.to-cut {
    border: 0.2px dotted #000;
}

.to-cut-right {
    border-right: 0.2px dotted #000;
}

.to-cut-left {
    border-left: 0.2px dotted #000;
}

.to-cut-top {
    border-top: 0.2px dotted #000;
}

.to-cut-bottom {
    border-bottom: 0.2px dotted #000;
}

.undertext {
    font-size: 5pt;
    line-height: 70%;
}

.redline {
    margin-left: 1em;
}

.font200percent {
    font-size: 200%;
}

.font150percent {
    font-size: 150%;
}

.font80percent {
    font-size: 80%;
}

.font70percent {
    font-size: 70%;
}

.font50percent {
    font-size: 50%;
}

.bottomline {
    border-bottom: 0.5px solid #000;
}

.bottomspace {
    margin-bottom: 0.2em;
}

.pspace {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.text-right {
    text-align:right;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}