html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.blank {
    font-size: 8pt;
}

.blank table {
    font-size: 8pt !important;
}

.div-in-line {
    overflow: auto;
    display: inline-block;
    float: left;
}

.percent100 {
    width: 98%;
}

.percent85 {
    width: 84%;
}

.percent80 {
    width: 79%;
}

.percent75 {
    width: 74%;
}

.percent60 {
    width: 59%;
}

.percent50 {
    width: 49%;
}

.percent40 {
    width: 39%;
}

.percent33 {
    width: 33%;
}

.percent30 {
    width: 29%;
}

.percent25 {
    width: 24%;
}

.percent20 {
    width: 19%;
}

.percent15 {
    width: 14%;
}

.percent10 {
    width: 10%;
}

.percent7 {
    width: 7%;
}

.percent5 {
    width: 5%;
}

.percent1 {
    width: 1%;
}

.h2t {
    height: 100%;
}

.h2w {
    height: 50%;
}

.div-right {
    float: right;
}

h6 {
    font-size: 83%;
    font-weight: bold;
}

.h4-blank {
    font-size: 150%;
}

.h3-blank {
    font-size: 180%;
}

div .next-page {
    page-break-before: always;
}

.common-table 
{
    border-collapse: collapse;
}

.common-table td, .common-table th
{
    border: 0.5px solid #000;
}

.framed {
    border: 0.5px solid #000;
}

.to-cut-right {
    border-right: 0.2px dotted #000;
}

.to-cut-left {
    border-left: 0.2px dotted #000;
}

.to-cut-top {
    border-top: 0.2px dotted #000;
}

.to-cut-bottom {
    border-bottom: 0.2px dotted #000;
}

.undertext {
    font-size: 5pt;
    line-height: 70%;
}

.redline {
    margin-left: 1em;
}

.font80percent {
    font-size: 80%;
}

.font70percent {
    font-size: 70%;
}

.font50percent {
    font-size: 50%;
}

.bottomline {
    border-bottom: 0.5px solid #000;
}

.bottomspace {
    margin-bottom: 0.2em;
}